.AboutUs {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .AboutUs h1 {
    color: #e74c3c;
    font-size: 2rem;
    align-items: center;
  }
  
  .AboutUs h2 {
    color: #e74c3c;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .AboutUs h4 {
    color: #e74c3c;
    font-size:1rem;
    margin-top: 10px;
  }
  
  .AboutUs p {
    margin: 10px 0;
    align-items: center;
    font-size:0.9rem;
  }
  
  