

/* ***********font family*********** */

/* ***********color.app************ */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --btn-color:#FE4E15;
  --text-inp:#565D6D;
  --light-color:#f0f3f2;
  --font-family:'Encode Sans Expanded', sans-serif;
}

body{
  font-family: var(--font-family) !important;
}

.cursor-pointer
{
    cursor: pointer;
}

.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--text-inp) !important;
}
.bg-btn
{

    background-color: var(--btn-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.a{
  color: black;

}









/* ***********color.app************ */

