
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #fe4e15;
  --text-inp: #565d6d;
  --light-color: #f0f3f2;
  --font-family: "Encode Sans Expanded", sans-serif;
}

/* Global Rules */
input:focus,
textarea:focus {
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
}

body {
  font-family: var(--font-family) !important;
}

/* Custom Classes */
.primary-color {
  color: var(--primary-color);
}

.border-primary-color {
  border-color: var(--primary-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--text-inp) !important;
}

.bg-btn {
  background-color: var(--primary-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

.a {
  color: black;
}

/* Contact Page */
.contact-page .btn-send-message:hover {
  background-color: var(--primary-color) !important;
}

.contact-page input:focus,
.contact-page textarea:focus {
  border-color: var(--primary-color) !important;
}
.colored-word {
  color: #FE4E15; 
  font-weight: bold;
}